body {
  height: 100vh;
}

.pet-container {
  h3 {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
  }
  img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    display: block;
  }

}

header {
  height: 90vh;
    > h1 {
    margin: 0;
  }
  h1 {
    font-size: 25rem;
    text-align: center;
    transition: 5s;
  }
  h6 {
    margin: 0;
    font-size: 20px;
    position: relative;
    top: 25px;
    left: 8px;
    text-align: center;
    span {
      padding: 25px;
    }
  }
}

#nav-ul {
  margin: 50px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  li {
    display: inline-block;
      width: 200px;
    input {
      border: none;
      border-bottom: 2px solid black;
      width: 200px;
    }
    input:focus {
      outline: none;
    }
    select {
      background: white;
      color: black;
      height: 25px;
      border-radius: 0px;
      list-style-type: none;
      -webkit-appearance: none;
      // padding-left: 27%;
      text-align: center;
      border: black solid 1px;
      outline: none;
      width: 200px;
    }
    button {
      padding: 0;
      background: none;
      width: 200px;
      border: 1px solid black;
      transition-delay: 5s;
      &:focus {
      outline: none;
      }
      &:hover {
        background: black;
        color: white;
      }
    }
  }
}

.pet-container:hover {
  cursor: pointer;
}

#map {
  height: 800px;
}

.back {
  display:none;
  &:hover {
    cursor: pointer;
  }
}
