body {
  height: 100vh;
}

.pet-container {
  h3 {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
  }
  img {
    height: 200px;
    width: auto;
  }

}

header {
  h1 {
    font-size: 35rem;
    text-align: center;
    transition: 1s;

  }
}

#nav-ul {
  margin: 50px 0;
  display:flex;
  justify-content: space-around;
  li {
    display: inline-block;
    padding: 0 15px;
      width: 200px;
    input {
      border: none;
      border-bottom: 2px solid black;
    }
    input:focus {
      outline: none;
    }
    select {
      background: white;
      color: black;
      height: 25px;
      border-radius: 0px;
      list-style-type:none;
      -webkit-appearance:none;
      padding-left: 10px;
      border:black solid 1px;
      outline: none;
      width: 200px;
    }
    button {
      background:none;
      width: 200px;
      border:none;
      transition: 2s;
    }
    button:focus {
      outline:none;
    }
    button:hover {
      background:black;
      color:white;
      transform: rotate(360deg);
    }
  }
}
